<html lang="en">
  <head>
    <link rel="stylesheet" href="login.css" />
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="content">
      <div class="row g-3">
        <div class="col-md-6 col-sm-12">
          <div class="panel">
            <div class="panel_head">
              <h3>
                <sapn class="head_text">登入</sapn>
              </h3>
            </div>
            <div class="panel_body">
              <form class="login">
                <input type="text" placeholder="帳號" />
                <input type="password" placeholder="密碼" />
                <input type="submit" value="登入" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="panel" style="height: 50%">
            <div class="panel_head">
              <h3>
                <sapn class="head_text">以其他方式登入</sapn>
              </h3>
            </div>
            <div class="panel_body">
              <span class="line">
                <a
                  href="https://access.line.me/oauth2/v2.1/login?loginState=BfyiuOxG5KSZmKiFSZrBDj&loginChannelId=1576775644&returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fscope%3Dprofile%26response_type%3Dcode%26state%3DB6PG7OU5pWkPWCP4%26redirect_uri%3Dhttps%253A%252F%252Faccount.line.biz%252Flogin%252Fline-callback%26client_id%3D1576775644#/"
                  ><img src="line.png" width="70" height="70" alt=""
                /></a>
              </span>
            </div>
          </div>
          <div class="panel" style="height: 50%">
            <div class="panel_head">
              <h3>
                <sapn class="head_text">註冊新會員</sapn>
              </h3>
            </div>
            <div class="panel_body">
              <p>尚未成為會員嗎？</p>
              <a href="register.html">創立新帳號</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
