<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="container">
      <div class="row mt-5">
        <form class="text-light bg-dark">

          <div class="row mb-3 mt-3">
            <label for="registerAccount" class="col-sm-2 col-form-label">帳號</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="registerAccount">
            </div>
          </div>

          <div class="row mb-3">
            <label for="registerPassword" class="col-sm-2 col-form-label">密碼</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="registerPassword">
            </div>
          </div>

          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">性別</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  男
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  女
                </label>
              </div>
            </div>
          </fieldset>

          <button type="submit" class="btn btn-primary mb-3">註冊</button>
        </form>
      </div>
    </div>
  </body>
</html>
