<html lang="en">
  
  <%- include('../partials/head.ejs') %> 

  <body>
    <%- include('../partials/nav.ejs') %>
    
    <%- include('../partials/header.ejs') %> 

    <section class="center">
      <form action="/members/register" method="POST" class="register" id="registerForm">
        <h2>註冊會員</h2>
        <input type="text" name="account" placeholder="帳號" style="color: azure" />
        <input type="password" name="password" placeholder="密碼" />
        <input type="password" name="confirmPassword" placeholder="確認密碼" />
        <br />
        性別：<input type="radio" name="gender" value="male" checked="true" />男
        <input type="radio" name="gender" value="female" />女
        <input type="submit" value="送出" />
      </form>
    </section>

    <%- include('../partials/footer.ejs') %> 

  </body>
</html>
