<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %> <%- include('./partials/header.ejs') %>

    <div class="center">
      <div class="box">
        <table>
          <thead>
            <tr>
              <td>縣市</td>
              <td>地區</td>
              <td>目的</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="city">---</td>
              <td id="sector">---</td>
              <td id="purpose">---</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="button-reset-location">
        <input type="submit" id="buttonResetLocation" value="重新選擇" />
      </div>

      <div class="information">
        <tr>
          <td>天氣資訊</td>
          <td>
            <map name="primary">
              <area
                shape="circle"
                coords="75,75,75"
                href="left.html"
                alt="Click to go Left" />
              <area
                shape="circle"
                coords="275,75,75"
                href="right.html"
                alt="Click to go Right"
            /></map>
            <img
              usemap="#primary"
              src="https://via.placeholder.com/200x200"
              alt="2000 x 200 pic"
            />
          </td>
        </tr>
      </div>

      <div class="angel">
        <p>小天使叮嚀</p>
        <p Align="center">
          <img src="範例.jpg" width="100px" height="100px" />
        </p>
      </div>

      <div class="button-home">
        <input type="submit" id="buttonHome" value="回首頁" data-action="submit" />
      </div>
    </div>

    <div class="box2">
      <div class="a">
        <div class="button2">
          <input
            type="submit"
            id="line"
            value="Line機器人"
            data-action="submit"
          />
        </div>
      </div>

      <div class="b">
        <div class="button2">
          <input type="submit" id="ig" value="IG社群" data-action="submit" />
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
