<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <!--選擇地區-->
   <nav>
    <span class="align-middle">
       <div class="content">
          <div style="background-color:#f8f8f8; text-align:center;" >
             <div class="row ">
                <form class="select" Align="center" action="weather/suggestion" method="post">
                   <!--標題字-->
                   <div class="panel_head" style="background-color:#86add1" text-align:center>
                      <h3>
                         <span class="head_text">選擇條件</span>
                      </h3>
                   </div>

                   <label for="select" scope="col">地區</label>

                   <div role="tw-city-selector"></div>
                   <select id="city-list" name="city" onchange="changeCity(this.selectedIndex)"></select>
                   <select id="sector-list" name="dist"></select>

                   <!--選擇目的地-->
                   <br>
                   &ensp;
                   <br>
                   <label for="select3" scope="col">出門目的</label>
                   <select name="purpose" id="select3">
                      <option>請選擇</option>
                      <option>學校</option>
                      <option>公司</option>
                      <option>出遊</option>
                   </select>
    </span>

    <!--我的最愛-->
    <br>
    &ensp;
    <br>
    <input class="buttonl1" type="button" id='love1chenge' value="添加到我的最愛"
       style="border-radius: 10px #e9e4e4 double;background-color:#86add1;" />
    &ensp;<img
       src="https://img.icons8.com/external-sbts2018-outline-sbts2018/30/000000/external-application-social-media-sbts2018-outline-sbts2018.png"
       title="將此組選擇加入最愛，最多3組超過將遞補" />
    <br>
    <br>
    &ensp;
    <br>
    <label for="select" scope="col"> 我的最愛</label> <select name="favorite" id="select3">
       <option>請選擇</option>
       <option>1-未設定</option>
       <option>2-未設定</option>
       <option>3-未設定</option>
    </select>
    </span>
    <!--送出結果-->
    <span class="align-middle" valign="center">
       <div class="content" Align="center">
          <div class="row">
             <div class="sublove">
                <input type="submit" id='love2' value="查看穿搭" data-action="submit" />
             </div>
          </div>
       </div>
       </div>
    </span>
 </nav>

    <%- include('../partials/footer.ejs') %>

    <script src="/js/select-location.js"></script>
  </body>
</html>
