<footer class="container-fluid fixed-bottom footer">
  <div class="footer_body">
    <p style="text-align: center; color: azure; font-family: 'Gemunu Libre', sans-serif;">&copy; 天氣穿衣 Weather Dressing</p>
  </div>
</footer> 
