<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/about.css">
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">
      <div class="row">
        <div class="panel">
          <div class="panel_head">
            <h3>
              <sapn class="head_text">關於我們</sapn>
            </h3>
          </div>
          <div class="panel_body">
            <p>
              隨著全球暖化與氣候變遷，<br />
              日夜溫差多變，穿著變成每天須面對的課題，<br />
              讓人們享受舒適的同時又可面對天氣的挑戰。
              <br />
              <br />
              結合溫度及穿衣出席場合，<br />
              提供使用者更多挑選穿著的參考。
            </p>
            <img
              src="/assets/images/weather-dressing-with-text-logo.jpg"
              width="200"
              height="200"
              allow="autoplay"
            />
          </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <a
            href="https://liff.line.me/1645278921-kWRPP32q/?accountId=300zikjb"
          >
            <img src="https://img.icons8.com/color/70/000000/line-me.png" />
          </a>
          &nbsp; &nbsp; &nbsp;
          <a href="https://www.instagram.com/weather_dressing/"
            ><img
              src="https://img.icons8.com/fluency/75/000000/instagram-new.png"
          /></a>
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
