<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
