<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/instagram.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel_head">
                        <h3>
                            <span class="head_text">上傳你的天氣穿搭吧</span>
                        </h3>
                    </div>
                    <div class="panel_body">
                        <form class="upload" action="/upload" method="post">
                            <p>提供圖片等同授權天氣穿衣團隊使用該圖片，此圖片露出版面為weather_dressing
                                官方instergram、Line@、網頁。且以下圖方式呈現。<p>輸入你想分享的天氣穿搭資訊吧</p>
                            </p>
                            <p Align=center><img src="/assets/images/upload-example.jpg" width="250px" height="250px"></p>
                            <br>
                            <input type="text" name="temprature" size="10" placeholder="照片溫度(攝氏)" />
                            <input type="text" name="location" size="10" placeholder="拍攝地點" />
                            <label class="btn-info">
                                <input name="picture" id="picture" style="display: none;" type="file" />
                                <i class="fa fa-photo"></i> 上傳圖片
                            </label>
                            <input type="submit" value="送出" /><input type="reset" value="清除" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>