<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div>
      <p>照片已成功上傳，5 秒後回到首頁...</p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
