.box {
  font-family: 微軟正黑體;
  font-size: 16px;
  height: 100px;
  padding: 9px;
  width: 300px;
  text-align: center;
  border: collapse #793232;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.box th {
  background-color: #776f6f;
  padding: 5px;
  color: rgb(148, 162, 224);
}
.box td {
  border: solid;
  padding: 10px;
}

.button-reset-location {
  color: #f8f9fa;
  padding: 40px;
  box-shadow: 10px 10px 25px #00000000;
  text-align: center;
  margin: 0 auto;
  height: 5px;
  width: 5px;
  transform: translate(-70%, -70%);
}
.button-reset-location input {
  display: block;
  margin: 20px auto;
  text-align: center;
  background: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 22px;
  outline: none;
  color: #f8f9fa;
}

.button-reset-location input[type='submit'] {
  width: 120px;
  border: 2px solid #2ecc71;
  cursor: pointer;
  font-weight: bolder;
}

.button-reset-location input[type='submit']:hover {
  background-color: #2ecc71;
}

.information {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.angel {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.turnback {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button-home {
  color: #f8f9fa;
  padding: 40px;
  box-shadow: 10px 10px 25px #00000000;
  text-align: center;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  transform: translate(-10%, -30%);
}
.button-home input {
  display: block;
  margin: 20px auto;
  text-align: center;
  background: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 22px;
  outline: none;
  color: #f8f9fa;
}

.button-home input[type='submit'] {
  width: 120px;
  border: 2px solid #2ecc71;
  cursor: pointer;
  font-weight: bolder;
}

.button-home input[type='submit']:hover {
  background-color: #2ecc71;
}

.box2 {
  text-align: center;
}
.a,
.b {
  display: inline-block;
  width: 100px;
  height: 10px;
  border: 10px solid #4a6572;
  text-align: center;
  transform: translate(+1%, -200%);
}

.button2 {
  color: #f8f9fa;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  height: 5px;
  width: 5px;
  transform: translate(-75%, -100%);
}
.button2 input {
  display: block;
  margin: 20px auto;
  text-align: center;
  background: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 22px;
  outline: none;
  color: #f8f9fa;
}

.button2 input[type='submit'] {
  width: 120px;
  border: 2px solid #2ecc71;
  cursor: pointer;
  font-weight: bolder;
}

.button2 input[type='submit']:hover {
  background-color: #2ecc71;
}

/* footer {
    color: white;
    background-color: #f9aa33;
    height: 66px;
    width: 380px;
    margin: 0 auto;
    padding: auto;
    transform: translate(+0%, -155%) 

} */
